*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tweetbox{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--twitter-background);
}
.userIcon{
    margin-top: 14px;
    color:var(--twitter-background);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.userIcon:hover
{
    cursor: pointer;
}