*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.widgets{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    color:var(--twitter-background);
}
.input_container{
    margin-top: 5px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 15px;
    border-radius: 40px;
    background-color: rgb(36, 35, 35);
}
.input_field{
    padding: 5px;
    width: 100%;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    outline: none;
    background-color: rgb(36, 35, 35);
    color:var(--twitter-background);
}
.widget_heading{
    color:var(--twitter-background);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 35, 35);
    padding: 10px 70px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 7px 7px 0px 0px;
    margin-top: 15px;
}
@media(max-width:1100px){
    .input_container{
        display: none;
    }
    .widgets_container{
        display: none;
    }
}